version: '3'
services:
  hadoop-namenode:
    image: minhnx2/hadoop-namenode:3.2.4
    container_name: hadoop-namenode
    environment:
      CLUSTER_NAME: "hadoop-cluster"
    env_file:
      - ./hadoop-hive.env
    volumes:
      - namenode:/hadoop/dfs/name
    ports:
      - 9870:9870
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:9870"]
      interval: 15s
      timeout: 10s
      retries: 8
    restart: always

  hadoop-datanode:
    image: minhnx2/hadoop-datanode:3.2.4
    container_name: hadoop-datanode
    environment:
      SERVICE_PRECONDITION: "hadoop-namenode:9870"
    env_file:
      - ./hadoop-hive.env
    volumes:
      - datanode:/hadoop/dfs/data
    ports:
      - 9864:9864
    depends_on:
      - hadoop-namenode        
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:9864"]
      interval: 15s
      timeout: 10s
      retries: 8
    restart: always

  hive-metastore-postgresql:
    platform: linux/amd64
    image: minhnx2/hive-metastore-postgresql:2.3.0
    environment:
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: hive      
    volumes:
      - hive-metastore-db-volume:/var/lib/postgresql/data
    expose:
      - 5432
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "hive"]
      interval: 5s
      retries: 5
    restart: always

  hive-metastore:
    platform: linux/amd64
    image: minhnx2/hive:3.1.3
    container_name: hive-metastore
    environment:
      SERVICE_PRECONDITION: "hadoop-namenode:9870 hadoop-datanode:9864 hive-metastore-postgresql:5432"
    env_file:
      - ./hadoop-hive.env
    expose:
      - 9083
    command: /opt/hive/bin/hive --service metastore
    depends_on:
      - hive-metastore-postgresql
      - hadoop-namenode
      - hadoop-datanode

  hive-server:
    image: minhnx2/hive:3.1.3
    container_name: hive-server
    environment:
      HIVE_CORE_CONF_javax_jdo_option_ConnectionURL: "jdbc:postgresql://hive-metastore/metastore"
      SERVICE_PRECONDITION: "hive-metastore:9083"
    env_file:
      - ./hadoop-hive.env
    ports:
      - 10000:10000
    depends_on:
      - hive-metastore

  # trino-coordinator:
  #   image: trinodb/trino:391
  #   ports:
  #     - 8080:8080

volumes:
  namenode:
  datanode:
  hive-metastore-db-volume:
